/**
 * @file
 * Local CSS - rename this to local.css, check the 
 * box in theme settings and add your own styles here.
 */
@CHARSET "UTF-8";
body.body-font-sans-serif {
  font-family: 'Open Sans', sans-serif;
  font-size: 100.01%/1.5;
  font-weight: 400;
}
body
{
	color:#ffffff;
    background: url("../images/wasser2.png") repeat fixed 0 0;
    background-color: slategrey;
}

body.background_Flora
{
	background-color: #485C5A;
}

body.background_Natur
{
	background-color: #9DB2B1;
}

body.background_Architektur
{
	background-color: #98B1C4;
}

body.background_Porta
{
	background-color: #E9E0DB;
}
body.background_Experimente
{
	background-color: #FF6600;
}

body.background_Strukturen
{
	background-color: #663300;
}

body.background_Urban
{
	background-color: #99CCCC;
}

body.background_Fauna
{
	background-color: #DABD95;
}

@font-face 
{
  font-family: 'Tangerin';
  src: url("fonts/Tangerine_Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face 
{
  font-family: 'Tangerin';
  src: url("fonts/Tangerine_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.container,
#main-menu
{
  width: 1200px;
}

.container .sixteen.columns 
{
    width: 1200px;
}

.service-links img
{
	width: 30px;
	background: url("/sites/all/themes/wolkenpflug/images/background-weiß.png") no-repeat;
	background-position: center center;
}

.print_link
{
	height: 30px;
}

.print_link img
{
	width: 30px;
	height: 30px;
}

.print_link span
{
	padding: 3px;
}
.print_link a
{
	display: inline-flex;
}
 .service-links img:hover
{
	width: 30px;
	background: url("/sites/all/themes/wolkenpflug/images/background-grün.png") no-repeat;
	background-position: center center;
}

.service-links .links a
{
	background-color: transparent;
	width: 30px;
	display: block;
	padding: 0px;
	height: 30px;
}

.service-links .links a:hover
{
	background-color: transparent;
}

#content article .service-links ul
{
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#content article
{
	margin-bottom: 70px;
	position: relative;
	min-height: auto;
}

#content article .service-links ul li
{
	list-style-image: none;
	list-style: none;
	display:inline-block;
	
}

.floating-block-active
{
    z-index: 100;
}

#menu-wrapper.blockFloat-0.floating-block-active,
.blockFloat-0.floating-block-active
{
	box-shadow: -20px 20px 29px #000000;
}

#site-title-wrapper h1
{
	 font-family: "Tangerin", sans-serif;
	 font-size: 80px;
	 text-transform: lowercase;
}

#content-wrapper,
#head
{
	   background: none;
}

.color-palette-warm-purple a
{
	
	color:#d3d3d3;
}

.color-palette-warm-purple nav#main-menu ul li li a 
{
    background: none;
}

.slideshow_container.slider #menu-wrapper 
{
    background: none;
    margin-bottom: 0px;
	box-shadow: none;
    z-index: 101;
    position: absolute;
    left: 220px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
}
.text_container
{
	float: left;
	position:relative;
}
.image_container
{
	float: right;
    width: 924px;
}
.text_container
{
	width: 280px;
	background-color: rgba(144, 144, 144, 0.8);
	color:#303030;
	padding: 0px 20px 0px 20px;
	top: 50px;
	position: absolute;
	z-index:100;
	border-top-left-radius: 30px;
	box-shadow: -20px 20px 29px #000000;
}

.text_container_border
{
	padding: 20px 0px 20px 0px;
	width: 260px;
}

.text_container .node-links
{
	margin-bottom: 10px;
}
.service_links_container .service-links ul
{ 
	margin: 0px 0xp 10px -3px;
}

.text_container header .title-wrapper h2 a
{
	color:#303030;
}

.text_container h2,
.text_container p
{
	margin: 0px;
}

.text_container .field-name-body
{
	margin-bottom:10px;
	min-height: 100px;
	width: 260px;
	padding: 10px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.5);
}
.text_container .content_links
{
	width: 260px;
	padding: 10px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}

.text_container .field-name-body,
.text_container .content_links,
.text_container header
{
	border-top-left-radius: 15px;
}
.text_container header
{
	margin-bottom:10px;
	width: 260px;
	padding: 10px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.5);
}

.image_container .field-type-image img 
{
    border: 4px solid #909090;
    padding:8px;
    max-width: 900px;
}

.text_container .content_links .comment-add,
.text_container .content_links .comment-comments
{
	display:inline;
} 
.comment-comments 
{
	margin-right: 10px;
}
.comment_count
{
	margin-right: 5px;
	height: 24px;
    min-width: 24px;
    display: inline-block;
  	text-align: center;
  	border-top-left-radius: 10px;
  	border: 2px solid #ffffff;
}

.text_container .content_links li
{
	display: block;
	padding: 0px;
}

img.portrait
{
	float: left;
}


.image_container .field-type-image 
{
    float: none;
    margin-left: none;
}

#content #post-content 
{
    padding: 0px;
}

.column, .columns 
{
    margin-left: 0px;
    margin-right: 0px;
}

.spacer
{	
	border-left: 2px solid #303030;
	width: 20px;
	position: absolute;
	top:20px;
	right: 0px;
	height: 580px;;
}

.page_content .field-name-body
{
	max-width: 100%;
}

.page_content .field-name-field-image img
{
	 padding:16px;
	 border: 4px solid #909090;
}

.pure_text .field-name-body
{
	max-width: 100%;

}

#content .text_article 
{
	min-height: auto;
	border: 4px solid #909090;
    padding:20px;
    border-top-left-radius: 30px;
    background-color:rgba(0,0,0,0.3);
}

#main-menu a:hover, 
#main-menu li > a.active,
#block-menu-menu-kategorien li > a.active,
#block-menu-menu-kategorien li > a:hover
{
    background:none;
    text-decoration: none;
    background:  url("/sites/all/themes/wolkenpflug/images/backgroundsquare.png") repeat-x center bottom;
}

span.drop-arrow 
{
    display: none;
}

#block-menu-menu-kategorien ul.menu li.expanded ul
{
	display: inline;
	padding: 0;
    width: auto;
    z-index: 300;
    padding-top: 15px;
    position: relative;
}


#block-menu-menu-kategorien ul.menu li.expanded ul li
{
    float: left;
    position: static;
    text-align: center;
    border-top: none;
    border-left-color: none;
    border-left-style: none;
    border-left-width: 0px;
}

#content-wrapper #block-menu-menu-kategorien  li 
{
    display: inline-block;
    text-align: center;
    margin-right: 3px;
    font-size: 10px;
}

#block-menu-menu-kategorien  li a 
{
    display: block;
    padding-bottom: 5px;
}

#block-menu-menu-kategorien ul
{
	text-align: center;
	margin: 5px 0px 5px 0px;
	padding-left: 0px;
}

.floating-block-active
{
	background: #b7b7b7 url("../images/wasser2mobile.png") repeat fixed 0 0;;
}

#block-menu-menu-kategorien h2
{
	display: none;
}

.text_article h2 a
{
	color: #ffffff;
}

#block-menu-menu-kategorien.floating-block-active
{
	top: 0px !important;
	z-index: 101;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.color-palette-warm-purple nav#main-menu ul.menu li.expanded ul li a:hover,
.color-palette-warm-purple #block-menu-menu-kategorien a:hover,
.color-palette-warm-purple #block-menu-menu-kategorien li a:active,
.color-palette-warm-purple #block-menu-menu-kategorien li a.active
{
    color: #d3d3d3;
}

.icon_container
{
	display:inline;
}

.node-text .icon_container
{
	position: relative;
	right: 0px;
    top: 0px;
}

.node-text .icon_container a
{
	display: inline-block;
}



#content article.page_text
{
	min-height: auto;
}

.color-palette-warm-purple section h1
{
	color:#d3d3d3;
	border-bottom: 4px solid #909090;
	margin-bottom: 20px;
	font-family: 'Tangerin';
	font-size: 55px;
	height: 60px;
	padding-left: 5px;
	margin-top: 0px;
}

.color-palette-warm-purple  section .node-text h2
{
	color:#d3d3d3;
	border-bottom: 4px solid #909090;
	margin-bottom: 10px;
	font-family: 'Tangerin';
	font-size: 55px;
	height: 50px;
	margin-top: 0px;
	padding-left: 5px;
}

.front .field-type-image 
{
    margin-left: 0px !important;
}

#hero-first
{
	margin-top: 0px;
	margin-bottom: 25px;
}

#head,
#content-wrapper,
#menu-wrapper
{
	margin-left: auto;
    margin-right: auto;
}

a
{
	text-decoration: none;
}
.term_container
{
	margin-bottom: 50px;
}

.term_des
{
   margin-right: auto;
   margin-left:auto;
   font-style: oblique;
}

#logo-img
{
	width: 220px;
}

.slider #logo
{
	position:absolute;
	top: 0px;
	left: 0px;
	z-index:101;
	backgrund-color: black;
	background-color:rgba(0,0,0,0.5);
}

.slideshow_container.slider
{
	position: relative;
	box-shadow: -20px 20px 29px #000000;
	height: 220px;
	margin-bottom: 30px;
}

.slideshow_container
{
	position: relative;
	
}

.views-slideshow-cycle-main-frame-row,
.views-slideshow-cycle-main-frame-row img
{
	width: auto !important;
}

div.comment
{
	background-color:rgba(0,0,0,0.3);
	border: 2px solid #909090;
	margin-bottom:40px;
	padding: 10px;
	border-top-left-radius: 30px;
	position:relative;
}

.comment .service-links
{
	margin-top:10px;
}
.comment h3
{
	float: left;
	margin-left:45px;
	margin-top:0px;
	margin-bottom:0px;
}

.comment .submitted
{
	float:right;
	margin-top:2px;
	margin-right:10px;
}
.comment_body
{
	display: none;
}

.expand_comment
{
	position:absolute;
	left: 15px;
	top: 11px;
}

.expand_comment img
{
	width: 28px;
	cursor:pointer;
}
.expand_comment.comment_expanded img
{
	transform: rotate(180deg);
	background: url("/sites/all/themes/wolkenpflug/images/background-grün.png") no-repeat;
}

.expand_comment img:hover,
.expand_comment.comment_expanded img:hover
{
	background: url("/sites/all/themes/wolkenpflug/images/background-grün.png") no-repeat;
	background-position: center center;
}

.comment .field-item
{
	margin-top:25px;
	margin-bottom: 10px;
}
#comment-form
{
	display: none;
}
.comment_form_wrapper
{
	position: relative;
	background-color:rgba(0,0,0,0.3);
	border: 2px solid #909090;
	border-top-left-radius: 30px;
	padding: 10px;
	padding-top: 0px;
}
.comment_form_wrapper .expand_comment
{
	top: 18px;
}
.comment_form_wrapper h2
{
	margin-left: 45px;
	margin-top:15px;
	margin-bottom: 0px;
}
.write_comment #comment-form
{
	display: block;
	position: relative;
	background-color:rgba(0,0,0,0.3);
	border: 2px solid #909090;
	border-top-left-radius: 30px;
	padding: 20px;
	padding-top: 10px;
}

