/**
 * @file
 * Local CSS - rename this to local.css, check the 
 * box in theme settings and add your own styles here.
 */
@CHARSET "UTF-8";

body
{
	color:#ffffff;
	  margin-left: auto;
    margin-right: auto;
    background: url("../images/blaetter.jpg") repeat fixed 0 0;
}

body.bg-dark-linen 
{
   
}

@font-face 
{
  font-family: 'Tangerin';
  src: url("fonts/Tangerine_Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face 
{
  font-family: 'Tangerin';
  src: url("fonts/Tangerine_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.container,
#main-menu
{
  width: 1200px;
}

.container .sixteen.columns 
{
    width: 1200px;
}

 .service-links img
{
	width: 30px;
}

.service-links .links a
{
	background-color: transparent;
	width: 30px;
	display: block;
	padding: 0px;
	height: 30px;
}

.service-links .links a:hover
{
	background-color: transparent;
}

#content article .service-links ul
{
	padding-left: 0px;
}

#content article
{
	margin-bottom: 70px;
	position: relative;
	min-height: 600px;
}

#content article .service-links ul li
{
	list-style-image: none;
	list-style: none;
	display:inline-block;
	
}

.floating-block-active
{
    z-index: 100;
}

#menu-wrapper.blockFloat-0.floating-block-active,
.blockFloat-0.floating-block-active
{
	box-shadow: -20px 20px 29px #000000;
}

#site-title-wrapper h1
{
	 font-family: "Tangerin", sans-serif;
	 font-size: 80px;
	 text-transform: lowercase;
}

#content-wrapper,
#head
{
	   background: none;
}

.color-palette-warm-purple a
{
	
	color:#d3d3d3;
}



.color-palette-warm-purple nav#main-menu ul li li a 
{
    background: none;
}

#menu-wrapper 
{
    background: none;
    margin-bottom: 0px;
	box-shadow: none;
    background: rgba(0, 0, 0, 0) url("../images/blaetter.jpg") repeat fixed 0 0;
    z-index: 101;
    margin-bottom: 20px;
}
.text_container
{
	float: left;
	position:relative;
}
.image_container
{
	float: right;
    width: 924px;
}
.text_container
{
	width: 280px;
	background-color: #909090;
	min-height: 300px;
	color:#303030;
	padding: 20px 20px 20px 20px;
	top: 50px;
	position: absolute;
	z-index:100;
	background:#909090 url("/sites/all/themes/bamboo/images/blackBorder.png") repeat-y right 40px bottom;
	border-top-left-radius: 30px;
	box-shadow: -20px 20px 29px #000000;
}

.text_container .XXXXservice-links
{ 
	position: absolute;
	bottom: 5px;
	right: 5px;
	box-shadow: 10px 10px 5px #888888;
}

.text_container header .title-wrapper h2 a
{
	color:#303030;
}

.field-type-image img 
{
    border: 4px solid #909090;
}

img.portrait
{
	float: left;
}

img.landscape
{
	float: right;
}
.image_container .field-type-image 
{
    float: none;
    margin-left: none;
}

#content #post-content 
{
    padding: 0px;
}

.column, .columns 
{
    margin-left: 0px;
    margin-right: 0px;
}

.spacer
{	
	border-left: 2px solid #303030;
	width: 20px;
	position: absolute;
	top:20px;
	right: 0px;
	height: 580px;;
}

.field-name-body
{
	max-width: 230px;
}

#main-menu a:hover, 
#main-menu li > a.active,
#block-menu-menu-kategorien li > a.active,
#block-menu-menu-kategorien li > a:hover
{
    background:none;
    text-decoration: none;
    background:  url("/sites/all/themes/bamboo/images/backgroundsquare.png") repeat-x center bottom;
}

span.drop-arrow 
{
    display: none;
}

#block-menu-menu-kategorien ul.menu li.expanded ul
{
	display: inline;
	padding: 0;
    width: auto;
    z-index: 300;
    padding-top: 15px;
    position: relative;
}


#block-menu-menu-kategorien ul.menu li.expanded ul li
{
    float: left;
    position: static;
    text-align: center;
    border-top: none;
    border-left-color: none;
    border-left-style: none;
    border-left-width: 0px;
}

#content-wrapper #block-menu-menu-kategorien  li 
{
    display: inline-block;
    text-align: center;
    margin-right: 3px;
    font-size: 10px;
}

#block-menu-menu-kategorien  li a 
{
    display: block;
    padding-bottom: 5px;
}

#block-menu-menu-kategorien ul
{
	text-align: center;
	margin: 5px 0px 5px 0px;
}
#block-menu-menu-kategorien
{
	background: rgba(0, 0, 0, 0) url("../images/blaetter.jpg") repeat fixed 0 0;
}

#block-menu-menu-kategorien h2
{
	display: none;
}

#block-menu-menu-kategorien.floating-block-active
{
	top: 0px !important;
	z-index: 101;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.color-palette-warm-purple nav#main-menu ul.menu li.expanded ul li a:hover,
.color-palette-warm-purple #block-menu-menu-kategorien a:hover,
.color-palette-warm-purple #block-menu-menu-kategorien li a:active,
.color-palette-warm-purple #block-menu-menu-kategorien li a.active
{
    color: #d3d3d3;
}

.icon_container
{
	position: absolute;
	right: 5px;
    top: 10px;
}

.icon_container a
{
	display: block;
}

.color-palette-warm-purple section h1
{
	color:#d3d3d3;
	border-bottom: 2px solid #909090;
	margin-bottom: 50px;
}

.front .field-type-image 
{
    margin-left: 0px !important;
}

#hero-first
{
	margin-top: 0px;
}

.service-links-forward img
{
	width: 28px;
}
